@model demo.smart_school.Models.LoginModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<link href="~/sweetAlert/sweetalert.css" rel="stylesheet" />
<script src="~/sweetAlert/sweetalert.min.js"></script>
<div style="margin-top:15%">
@Html.Raw(TempData["msg"])
<div class="container-fluid">
    @*<div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User Master</a></li>
            </ol>
        </div>*@
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1 class="card-title mb-0 text-center text-danger text-uppercase">Users List</h1>
                    <a href="~/UserMaster/AddUser" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="file_export" class="table table-striped table-bordered display">
                            <thead class="bg-info">
                                <tr>
                                    <th class="text-white"></th>
                                    <th class="text-white">S. No.</th>
                                    <th class="text-white">Name</th>
                                    <th class="text-white">Email</th>
                                    @*<th class="text-white">Shop</th>*@
                                    <th class="text-white">Mobile</th>
                                    <th class="text-white">Role</th>
                                    <th class="text-white">Password</th>
                                    <th class="text-white">Ip Name</th>
                                    <th class="text-white">Ip Address</th>
                                    <th class="text-white">Login Date/Time</th>
                                    <th class="text-white"></th>
                                    <th class="text-white">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    if (Model.lst != null)
                                    {
                                        int i = 1;
                                        foreach (var Item in Model.lst)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@Item.fullname</td>
                                                <td>@Item.email</td>
                                                <td>@Item.mobile</td>
                                                <td>@Item.role</td>
                                                <td>@Item.password</td>
                                                <td>@Item.ipname</td>
                                                <td>@Item.ipadd</td>
                                                @*<td>@Item.IsActive</td>*@
                                                <td>@Item.logindate</td>
                                                <td>
                                                    @if (Item.isactive == true)
                                                    {
                                                        <apan style="color:lawngreen;"> Online </apan>
                                                    }
                                                    @if (Item.isactive == false)
                                                    {
                                                        <apan style="color:red;"> Offline </apan>
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("AddUser", "UserMaster", new { c_id = Item.id })" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fa fa-edit"></i></a>
                                                    <a href="/UserMaster/DeleteUser?id=@Item.id" class="btn btn-danger shadow btn-xs sharp" onclick="return confirm('Are you sure you wish to delete this User ?');"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            i = i + 1;
                                        }
                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

